@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --ghost-white: #f8f9fd;
    --fire-bush: #e99c2f;
    --granite-gray: #626a6a;
    --baltic-sea: #33383c;
    --trans: all 0.5s ease-in-out;
}

.home{
	position: relative;
	width: 100%;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.home:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.home img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .content{
	position: absolute;
	color: #99cf1b;
    margin-top: 50px;
	margin-left: 15%;
}

.home .content h1{
	margin-left: 10%;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
	font-family: 'Merriweather', serif;
    line-height: 75px;
}

.home .content .typing{
	font-family: 'Merriweather', serif;
    font-size: 3.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
	margin-left: 20%;
	overflow: hidden;
	white-space: nowrap;
	animation: typing 2s steps(50) infinite alternate,
				blink 1s infinite;
}

@keyframes typing {
	0% {
		width: 0%;
		visibility: hidden;
	}
	100% {
		width: 100%;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
	100% {
		border-color: black;
	}
}


.products{
	padding: 6rem 0;
}

.product-list{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 2rem;
}

.product-item{
	margin: 1rem 0;
}

.product-img{
	background: var(--ghost-white);
	padding: 3rem 0;
	height: 350px;
	margin: auto;
	overflow: hidden;
	position: relative;
}

.product-img img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	margin: 0 auto;
	transition: var(--trans);
}

.product-img:hover img{
	opacity: 0.8;
}

.product-content{
	padding: 1.6rem 0;
	text-align: center;
}

.add-to-cart-btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	padding: 0.75rem 1.2rem;
	font-size: 1.05rem;
	background-color: var(--baltic-sea);
	color: #fff;
	transition: var(--trans);
	opacity: 0;
}

.product-item:hover .add-to-cart-btn{
	opacity: 1;
}

.add-to-cart-btn .fas{
	margin-right: 0.4rem;
}

.add-to-cart-btn:hover{
	background-color: #23272a;
	color: var(--fire-bush);
}

.product-category{
	margin: 0.8rem 0;
	display: inline-block;
	font-weight: 500;
	background: var(--fire-bush);
	color: #fff;
	padding: 0.05rem 1.5rem;
	border-radius: 5px;
	letter-spacing: 2px;
}

.product-price{
	font-size: 1.15rem;
	font-weight: 500;
	opacity: 0.6;
}

@media (max-width: 1200px) {
	.product-list{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 1.5rem;
	}
}


@media (max-width: 1080px) {
	.product-list{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1.5rem;
	}
}

@media (max-width: 768px) {
	.home .content h1{
		font-size: 2.5em;
	}
	.home .content .typing{
		font-size: 2em;
	}
}

@media (max-width: 580px) {
	.product-list{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		column-gap: 1.5rem;
	}
}