@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background: #0a0707;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

section{
    margin-top: 20px;
}

.skills{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

h1{
    font-size: 36px;
    color: #0C0B08BF;
    font-weight: 900;
    margin-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size: 32px;
    color: #0C0B08BF;
    font-weight: 900;
    margin-bottom: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-size: 20px;
    color: #0C0B08BF;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

.p{
    font-size: 16px;
    font-style: italic;
}

/* .container1{
    margin-top: 40px;
} */

p{
    text-align: justify;
    font-size: 16px;
    color: #0C0B08BF;
    margin-bottom: 18px;
}

.comment_img{
    text-align: center;
    font-size: 14px;
}

.skills{
    margin-top: 60px;
}

.skills li{
    margin-left: 60px;
    font-size: 16px;
    color: #0C0B08BF;
    margin-bottom: 10px;
}

iframe{
    width: 100%;
    height: 100%;
}

.video{
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images{
    width: 100%;
}

.images img{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}

.images_small_left img{
    margin: 12px;
   float: left;
   height: 180px;
   width: 180px;
   shape-outside: circle();
   clip-path: circle();
}

.images_small_right img{
    margin: 12px;
   float: right;
   height: 180px;
   width: 180px;
   shape-outside: circle();
   clip-path: circle();
}

.images_square img{
    margin: 12px;
   float: right;
   height: 200px;
   width: 194px;
}

table{
    color: #0C0B08BF;
    margin-left: 20px;
    font-size: 14px;
}

.table_basic th{
    padding: 10px 10px;
    top: 0;
    text-align: left;
}

.table_basic td{
    padding: 10px 30px;
}

.table_container1 td{
    padding-top: 30px;
}

.table_container2 td, th{
    padding: 30px 100px;
}

.span{
    margin-left: 30px;
}

.text_size{
    font-size: 12px;
}

a:hover{
    text-decoration: none;
}

.dicoration{
    text-decoration: none;
}

.wapper-film{
    max-width: 1000px;
    margin: auto;
    padding: 25px;
    margin-top: 50px;
}

.wapper-film .card-film{
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
}

.wapper-film .card-film .img-film{
    width: 500px;
    height: 500px;
    margin-bottom: 15px;
}

.wapper-film .card-film .img-film img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wapper-skill{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.wapper-skill a{
    transition: 0.25s;
}
.wapper-skill a:hover{
    transform: scale(1.05);
}

.wapper-skill .skill-card{
    width: 350px;
    height: 280px;
    border: 1px solid #e2daeb;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}
.wapper-skill .skill-card .images{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
.wapper-skill .skill-card .images img{
    margin-top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wapper-skill .skill-card p{
    margin-left: 5%;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content-paging{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
}

.content-paging .number-page{
    display: flex;
}

.content-paging ul{
    display: flex;
    justify-content: center;
}

.content-paging li{
   width: 30px;
   height: 30px;
   border-radius: 3px;
   border: 1px solid gray;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 15px;
   cursor: pointer;
}

.content-paging ul li a{
    color:black;
}

.btn-active{
    color: #c6c9cc;
    border: solid 1px #c6c9cc !important;
}

.content-paging .active{
    background: #ff6e06;
    border: 1px solid #ff6e06;
}

.content-paging .active a{
    color: white;
}


/* image page */
.wapper_image{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: space-evenly;
}

.wapper_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.wapper_image .image{
    margin-bottom: 50px;
    width: 300px;
    height: 250px;
    border-radius: 4px;
    transition: 0.25s;
}

.wapper_image .image p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #0C0B08BF;
}

.wapper_image .image:hover img{
    transform: scale(1.05);
}

/* .gallery{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    color: white;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s;
}

.gallery_inner{
    width: 70%;
    height: 70%;
    margin: auto;
}

.close{
    position: fixed;
    top: 15px;
    right: 25px;
    font-size: 35px;
}

.control{
    font-size: 35px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
}
.control.prev{
    left: 15px;
}

.control.next{
    right: 15px;
}
.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.hide{
    display: none;
} */

/* Page Video */

.wapper-video{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 40px;
    width: 95%;
    display: grid;
	justify-content: space-evenly;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
}

.wapper-video .card-video{
    max-width: 500px;
    height: 315px;
    margin-bottom: 40px;
}

/* shelters */

.shelters h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 66, 156);
    font-size: 40px;
}
.shelters{
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 30px 10px 30px 10px;
}
.shelters .images{
    width: 80%;
    margin: auto;
}
.shelters .photo-name{
    text-align: center;
}
.shelters h2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

/* types */
.backgr-img{
    margin-top: 70px;
    width: 100%;
    margin-bottom: 30px;
}
.backgr-img img{
    width: 100%;
}
.types1{
    max-width: 1200px;
    margin: auto;
}
.types1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
.types1 .p{
    font-size: 24px;
}
.types2{
    max-width: 1000px;
    margin: auto;
    padding: 20px 10px 20px 10px;
}
.types2 ul li{
    list-style: none;
    margin-bottom: 18px;
    color: #0C0B08BF;
}
.types2 ul li b{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.types2 img{
    float: right;
    height: 400px;
    width: 400px;
}

/* history */
.history1{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.history1 h1{
    font-size: 50px;
    color: rgb(42, 42, 157);
    font-family: Arial, Helvetica, sans-serif
} 
.history1 .color-container{
    background-color:rgb(42, 42, 157) ;
    padding: 15px;
    border-radius: 8px;
}
.history1 .color-container p{
    font-size: 18px;
    color: #fff;
    text-indent: 30px;
}
.div1{
    background-color:rgb(42, 42, 157) ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 50px;
    font-size: 20px;
}
.history2{
    max-width: 1000px;
    padding: 20px;
    margin: auto;
}
.history2 .images{
    max-width: 500px;
    margin: auto;
}

/* dangerous */

.container-dangerous{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
.container-dangerous .dangerous-img{
    max-width: 700px;
    margin: auto;
}
.container-dangerous .dangerous-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.danger-falling{
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.danger-falling h1, .container-dangerous h1{
    font-size: 40px;
    text-align: center
}
.danger-falling ul li{
    color: #0C0B08BF;
}
.danger-falling ul img{
    float: right;
    width: 700px;
    height: auto;
}

/* tour page */
.tour-bg{
    width: 100%;
    height: 600px;
}
.tour-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tour-route{
    max-width: 1300px;
    margin: auto;
    padding: 30px 10px 30px 10px;
}
.tour-route .date-start{
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}
.tour-route .date-start h1, .text-center{
    text-align: center;
}
.tour-route .route-img1, .route-img2{
    width: 100%;
}
.tour-route .text-center, .route-img1 p, .route-img2 p{
    font-size: 20px;
    text-align: left;
}
.tour-route .route-img1 img{
    float: right;
    width: 500px;
    margin-left: 20px;
    border-radius: 5px;
}
.tour-route .route-img2 img{
    float: left;
    width: 500px;
    margin-right: 20px;
    border-radius: 5px;
}
.tour-like{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.tour-like .card-tour-like{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tour-like .card-tour-like .card-tour{
    width: 24%;
    height: 300px;
    border-radius: 3px;
    overflow: hidden;
}
.tour-like .card-tour-like .card-tour img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.tour-like .card-tour-like .card-tour p{
   text-align: left;
}
@media (max-width: 1370px) {
    .wapper-skill .skill-card{
        width: 400px;
        height: 350px;
    }
    .wapper-skill .skill-card p{
        font-size: 22px;
    }
    .wapper-skill .skill-card .images{
        height: 250px;
    }
    .wapper-video{
        grid-template-columns: repeat(2, 1fr);
    }
    .wapper-video .card-video{
        max-width: 700px;
    }
}
@media (max-width: 1060px) {
    .wapper-skill{
        width: 90%;
    }
    .wapper-skill .skill-card{
        width: 350px;
        height: 300px;
    }
    .wapper-skill .skill-card p{
        font-size: 22px;
    }
    .wapper-skill .skill-card .images{
        height: 220px;
    }
}

@media (max-width: 942px) {
    .danger-falling img{
        float: none;
        width: 100%;
        height: 400px;
    }
    .wapper-video{
        grid-template-columns: repeat(1, 1fr);
    }
    .wapper-video .card-video{
        max-width: 700px;
    }
    .danger-falling ul img{
        width: 500px;
    }
    .tour-like .card-tour-like .card-tour{
        width: 380px;
        height: 330px;
    }
}

@media (max-width: 820px) {
    .wapper-skill{
        width: 90%;
    }
    .wapper-skill .skill-card{
        width: 100%;
        height: 500px;
    }
    .wapper-skill .skill-card p{
        font-size: 25px;
    }
    .wapper-skill .skill-card .images{
        height: 400px;
    }
    .tour-like .card-tour-like .card-tour{
        width: 100%;
        height: auto;
    }
    .tour-route .route-img1 img, .route-img2 img{
        float: none;
        width: 90%;
    }
    .tour-route .route-img2 img{
        float: none;
        width: 90%;
    }
}
@media (max-width: 760px) {
    .danger-falling ul img{
        width: 100%;
        float: none;
    }
    .danger-falling h1, .container-dangerous h1{
        font-size: 30px;
    }
}
@media (max-width: 650px) {
    .wapper-skill .skill-card{
        width: 100%;
        height: 300px;
    }
    .wapper-skill .skill-card .images{
        height: 50px;
    }
    .history1 h1{
        font-size: 30px;
    } 
}

@media (max-width: 615px) {
    .danger-falling img{
        float: none;
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 569px) {
    .wapper-film .card-film .img-film{
        width: auto;
        height: auto;
    }
    .danger-falling h1, .container-dangerous h1{
        font-size: 23px;
    }
}

@media (max-width: 430px) {
    .danger-falling img{
        float: none;
        width: 100%;
        height: 250px;
    }
}
